.modal-wrapper.active {
    visibility: visible;
    opacity: 1;
}

.modal-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;

    /* pode acontecer da modal sair da tela, esses comando sao para garantir que nao saia */
    top: 0;
    left: 0;
    display: flex;

    /* converter cor hexadecimal para uma cor rgb (procurar em algum site) */
    /* uma forma facil de criar opacidade, tudo para criar essa transparencia do site */
    background-color: rgba(4, 9, 17, 0.8);

    /* os dois codigos fazem a mesma coisa (apenas para dar uma segurança ao codigo) */
    visibility: hidden;
    opacity: 0;
}

.modal-wrapper .modal {
    width: min(59rem, 90%);
    background-color: white;

    /* para margem automaticas, como o pai é um flex a modal já centraliza dentro independente do tamanho */
    margin: auto;
    border-radius: 0.8rem;

    font-family: 'Poppins', sans-serif;
    text-align: center;

    padding: 6.4rem;
}

.modal-wrapper .modal h2 {
    font-size: 2.4rem;
    font-weight: 700;
    padding: 1.2rem;
    color: var(--black);
}

.modal-wrapper .modal p {
    margin-bottom: 2.4rem;
    color: var(--grey-dark);
}

.modal-wrapper .modal input {
    margin-bottom: 4rem;
    padding: 1.3rem 1.6rem;
    border: 0.2rem solid var(--blue);
    outline: none;
    width: min(70%, 30.2rem);
}

button.red, .button.red{
    background-color: var(--red);
    color: var(--white);
}

button.grey, .button.grey{
    background-color: var(--grey-light);
    color: var(--grey-dark);
}   

.modal-wrapper .modal .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wrapper .modal .buttons > button, 
.modal-wrapper .modal .buttons > .button  {
    padding: 1.3rem 3.2rem;
    margin-right: 0.8rem;
}